@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #029197;
    --second-color: #013e3e;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-brand span a {
    color: #fff;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;

}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;    
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
}

.card-single div span a {
    color: #000;
    font-weight: 600;
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: #fff;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header a {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.card-header a:hover {
    transition: ease .40s;
    transform: scaleY(1.04);
}

/* table */
table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

.status.green {
    background: limegreen;
}

.status.pink {
    background: deeppink;
}

.status.orange {
    background: orange;
}

.table-reponsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}


/* Admin */
/* container */
.container {
    background: #fff;
    padding: 0.8rem;
    height: auto;
}

.container-title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 26px;
}

.management-table table td {
    font-size: 16px;
}

/* add button */
.add-btn a {
    border-radius: 12px;
    float: right;
    margin-bottom: 2rem;
    padding: 0.6rem;
    color: #fff;
    background: var(--main-color);
    margin-right: 1rem;
}

.add-btn a:hover {
    transition: ease .40s;
    transform: scale(1.04);
    background: var(--second-color);
}

.add-btn-under button {
    border: none;
    border-radius: 24px;
    float: right;
    margin-top: 2rem;
    padding: 0.6rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.add-btn-under button:hover {
    transition: ease .40s;
    transform: scale(1.04);
    background: var(--second-color);
}

/* add-tour */
.add-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-container .container-title {
    text-align: center;
    margin-bottom: 20px;
}

.add-container .add-form table {
    width: 100%;
}

.add-container .add-form th {
    text-align: left;
    padding: 10px;
}

.add-container .add-form td {
    padding: 10px;
}

.add-container .add-form table tr td lable {
    margin-right: 0.5rem;
}

.add-container .add-form input[type="text"],
.add-form input[type="number"],
.add-form input[type="email"],
.add-form input[type="password"],
.add-form select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.add-container .add-form textarea{
    width: 100%;
}

.add-form input[type="comment"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.add-form input[type="date"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.add-container .add-form table tr .content-text {
    height: 100px;
}

.add-container .add-form input[type="radio"],
.add-form input[type="checkbox"] {
    display: block;
    margin-right: 0.8rem;
    text-align: start;
}

.add-form label {
    margin-right: 2rem;
}

.add-container .add-form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.add-container .add-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* btn-update */
.btn-update {
    color: #ecf0f1;
    font-size: 12px;
    background-color: #45B649;
    border: 1px solid #11998e;
    border-radius: 5px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    box-shadow: 0px 6px 0px #11998e;
    transition: all .40s;
    cursor: pointer;
}

.btn-update:hover {
    transition: ease .40s;
    transform: scaleX(1.04);
}
   
.btn-update:active {
    box-shadow: 0px 2px 0px #11998e;
    position: relative;
    top: 2px;
}  

/* btn-see */
.btn-see {
    color: #ecf0f1;
    font-size: 12px;
    background-color: #8e54e9;
    border: 1px solid #480048;
    border-radius: 5px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    box-shadow: 0px 6px 0px #480048;
    transition: all .40s;
    cursor: pointer;
}

.btn-see:hover {
    transition: ease .40s;
    transform: scaleX(1.04);
}
   
.btn-see:active {
    box-shadow: 0px 2px 0px #480048;
    position: relative;
    top: 2px;
}  

/* btn-add */
.btn-add {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .btn-add:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .btn-add:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .btn-add:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }

   /* btn-logout */
   .logout {
    margin-top: 0.4rem;
   }

   .btn-logout {
    background-color: #eee;
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #c0392b;
    box-shadow: 0 0.3rem #dfd9d9;
    cursor: pointer;
   }
   
   .btn-logout:active {
    color: white;
    box-shadow: 0 0.2rem var(--second-color);
    transform: translateY(0.2rem);
   }
   
   .btn-logout:hover:not(:disabled) {
    transition: ease .40s;
    background: #c0392b;
    color: white;
    text-shadow: 0 0.1rem var(--second-color);
   }
   
   .btn-logout:disabled {
    cursor: auto;
    color: grey;
   }



















@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }
    
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    
    .sidebar li a {
        padding-left: 1rem;
    }
    
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    
    .main-content {
        margin-left: 70px;
    }
    
    .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }

    .sidebar {
        left: -100% !important;
    }

    header h2 {
        display: flex;
    }

    header h2 label {
        text-align: center;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    } 

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 2rem;
        text-align: left;
    }
    
    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0rem !important;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
}